@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');

.container_home {
    display: flex;
    align-items: center;
    height: 90vh; 
    justify-content: space-around;
    overflow-x: hidden;
}
.section_name h1 {
    font-family: 'Inter';
    font-size: 3em;
    color: #000;
    font-weight: 600;
}
.section_image img {
    width: 400px;
    background-color: transparent;
    transition: .4s;
}
.section_image img:hover{
    transform: translate(-4px,-5px);
}
.icons_social {
    display: flex;
    margin-top: 10px;
}
.icons_social svg {
    font-size: 24px;
    color: gray;
}
.icons_social .icon_github {
    margin-right: 15px;
}
.icons_social .icon_github svg:hover {
    color: purple;
    transition: .4s;
}
.icons_social .icon_linkedin svg:hover {
    color: #0A66C2;
    transition: .4s;
}
@media screen and (max-width: 900px) {
    .container_home{
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        margin-bottom: 170px;
    }
    .section_name{
        margin-top: 150px;
        margin-bottom: 70px;
    }
    
}
@media screen and (max-width: 720px) {
    
}
@media screen and (max-width: 500px) {
    
}
@media screen and (max-width: 300px) {
    
}