.container_skills{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    overflow-x: hidden;
}
.container_skills h1{
    text-align: center;
    font-size: 3em;
}
.section_skills{
    display: flex;
    margin: 70px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}
.section_skills svg{
    margin: 20px 35px;
    font-size: 55px;
}
.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:  0 15px;
    padding: 10px;
    transition: .4s;
    border-radius: 10px;
}
.skill:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translate(-3px,-5px);
}
@media screen and (max-width: 1000px) {
    .container_skills{
        height: 100%;
        margin: auto;
        padding: 10px;
        margin-bottom: 20px;
    }
    .section_skills{
        width: 100%;
    }
}
