.container_about{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    border-radius: 10px;
    
}
.container_about h1{
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
}
.section_about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.section_about .image_about{
    width: 400px;
}
.image_about img{
    width: 350px;
    float: right;
    border-radius: 50%;
    background-color: #05731B;
}
.section_about .text_about{
    width: 500px;
}
.text_about p {
    font-size: 21px;
    text-align: start;
}
.text_about a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 7px;
    background-color: #05731B;
    border-radius: 20px;
    color: white;
    border: 1px solid #05731B;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .4s;
    cursor: pointer;
    text-transform: uppercase;
}
.text_about a:hover{
    border: 1px solid #05731B;
    background-color: #05731b18;
    color: #05731B;
}
@media screen and (max-width: 1000px) {
    .container_about{
        height: 100%;
        padding: 10px;
    }
    .section_about{
        padding: 15px;
        width: 650px;
        display: flex;
        margin: 0 auto;
        border-radius: 15px;
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #05731B;
    }
    .image_about{
        padding: 10px;
        margin: 0 auto;
    }
    .image_about img{
        float: none;
        width: 400px;
        background-color: transparent;
    }
    .text_about p{
        color: white;
        padding-bottom: 10px;
    }
    .text_about a{
        background-color: white;
        color: #05731B;
        margin-bottom: 20px;
    }
    .text_about a:hover{
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }
}
@media screen and (max-width: 720px) {
    .section_about{
        width: 450px;
    }
    .section_about .text_about{
        width: 350px;
    }
}
@media screen and (max-width: 500px) {
    .container_about{
        padding: 0;
        margin-bottom: 20px;
    }
    .section_about{
        width: 350px;
    }
    .section_about .text_about{
        width: 350px;
    }
    .image_about{
        padding: 0;
    }
    .image_about img{
        float: none;
        width: 350px;
        background-color: transparent;
    }
    .text_about p{
        font-size: 17px;
    }
}
